@model hrr.Models.BasicInformation
<form method="post" action="/Home/CreateExperience">
            <input type="text" id="inputID" name="BasicInformationID" value="@Model.ID" readonly class="form-control" />
    <div>
        <h3>二、經歷</h3>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label for="inputPassword4">服務單位</label>
            <input type="text" name="ServiceUnit" class="form-control">
        </div>
        <div class="form-group col-2">
            <label for="inputPassword4">職稱</label>
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="form-group col-4">
            <label for="inputPassword4">工作內容</label>
            <input type="text" name="JobDescription" class="form-control">
        </div>
        <div class="form-group col-2">
            <label for="inputPassword4">起</label>
            <input type="date" name="Start" class="form-control">
        </div>
        <div class="form-group col-2">
            <label for="inputPassword4">迄</label>
            <input type="date" name="Finish" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="ServiceUnit" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="form-group col-4">
            <input type="text" name="JobDescription" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Start" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Finish" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="ServiceUnit" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="form-group col-4">
            <input type="text" name="JobDescription" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Start" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Finish" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="ServiceUnit" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="form-group col-4">
            <input type="text" name="JobDescription" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Start" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Finish" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="ServiceUnit" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="text" name="Title" class="form-control">
        </div>
        <div class="form-group col-4">
            <input type="text" name="JobDescription" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Start" class="form-control">
        </div>
        <div class="form-group col-2">
            <input type="date" name="Finish" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">新增</button>
    <input type="reset" class="btn btn-warning " value="重置">
</form>